@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
:root {
  --title-color: #212121;
  --main-color:#757575;
  --accent-color: #2196F3;
  --second-title-color: #FFFFFF;
  --background-color: #E5E5E5;
  --secondary-bgc: #F5F4FA;
  --third-bgc: #2F303A;
  --icon-color: #AFB1B8;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--title-color);
  background-color: var(--second-title-color);
  font-size: 14px;
  letter-spacing: 0.03em;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

adress {
  font-style: normal;
}

section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  color: inherit;
}

.bgc {
  color: var(--second-title-color);
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.button {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  background-color: var(--secondary-bgc);
}
.button:hover, .button:focus {
  color: var(--second-title-color);
  background-color: var(--accent-color);
}

button {
  cursor: pointer;
  border: none;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
}

.header-list {
  display: none;
}
@media screen and (min-width: 768px) {
  .header-list {
    display: flex;
  }
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .header .container {
    display: flex;
    align-items: center;
  }
}

.contacts-list {
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .contacts-list {
    flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-list {
    flex-direction: row;
  }
}

.header {
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #ECECEC;
}
@media screen and (min-width: 768px) {
  .header {
    padding-top: 21px;
    padding-bottom: 21px;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.header-item:not(:last-child) {
  margin-right: 50px;
}

.header-logo {
  margin-right: 93px;
  color: var(--accent-color);
}

.logo-accent-main {
  color: var(--title-color);
}

.header-link {
  position: relative;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-link:hover, .header-link:focus {
  color: var(--accent-color);
}

.header-link.current {
  color: var(--accent-color);
}
.header-link.current::after {
  content: "";
  position: absolute;
  bottom: -34px;
  display: block;
  width: 100%;
  height: 4px;
  background: var(--accent-color);
  border-radius: 2px;
}

.header-contacts {
  display: flex;
  align-items: center;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--main-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-contacts:hover, .header-contacts:focus {
  color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .header-contacts {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
  }
}
@media screen and (min-width: 1200px) {
  .header-contacts {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
  }
}

@media screen and (min-width: 768px) {
  .header-contacts.tel {
    margin-top: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .header-contacts.tel {
    margin-top: 0;
  }
}

.contacts-list {
  display: none;
}
@media screen and (min-width: 768px) {
  .contacts-list {
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-list {
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-item + .contacts-item {
    margin-left: 50px;
  }
}
.main-contact-icon {
  margin-right: 10px;
  fill: currentColor;
}

.hero {
  background-color: var(--third-bgc);
  text-align: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-image.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .hero {
    max-width: 480px;
    text-align: center;
    padding: 118px 60px;
  }
}
@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    padding: 200px 0;
  }
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-image2x.jpg);
  }
}
@media (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-image-tab.jpg);
  }
}
@media (min-width: 768px) and (min-device-pixel-ratio: 2), (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 192dpi), (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-image-tab2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-image.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-image2x.jpg);
  }
}
.hero-title {
  margin: 0 auto;
  margin-bottom: 30px;
  line-height: 1.62;
  font-weight: 900;
  font-size: 26px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: var(--second-title-color);
}
@media screen and (min-width: 480px) {
  .hero-title {
    width: 360px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-title {
    width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero-btn {
  padding: 10px 32px;
  border-radius: 4px;
  min-width: 200px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  border: none;
  letter-spacing: 0.06em;
  color: var(--second-title-color);
  background-color: var(--accent-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn:hover, .hero-btn:focus {
  color: var(--second-title-color);
  background-color: #188CE8;
}

@media screen and (min-width: 1200px) {
  .about {
    padding-bottom: 0;
  }
}

.pic-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.pic-list__pre-title {
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 10px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-color);
}
@media screen and (min-width: 786px) {
  .pic-list__pre-title {
    text-align: left;
  }
}

.pic-list__text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--main-color);
}

.pic-list__item {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .pic-list__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .pic-list__item {
    width: calc((100% - 90px) / 4);
  }
}

.pic-list__icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background-color: var(--secondary-bgc);
  border-radius: 4px;
  margin-bottom: 30px;
}

@media screen and (max-width: 1199px) {
  .gallery {
    display: none;
  }
}

.card-list {
  display: flex;
  margin: 0;
}

.card-list__item {
  position: relative;
}
.card-list__item:not(:last-child) {
  margin-right: 30px;
}

.gallery__title {
  text-align: center;
  color: var(--title-color);
  margin-bottom: 50px;
}

.card-list__top-text {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--second-title-color);
  background-color: rgba(47, 48, 58, 0.8);
}

.masters {
  background-color: var(--secondary-bgc);
}

.masters-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.masters-item {
  width: 100%;
  background-color: var(--second-title-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) {
  .masters-item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .masters-item {
    width: calc((100% - 90px) / 4);
  }
}

.masters-title {
  text-align: center;
  color: var(--title-color);
  margin-bottom: 50px;
}
@media screen and (max-width: 1199px) {
  .masters-title {
    font-size: 28px;
    line-height: 1.17;
  }
}

.card-content {
  padding: 30px 0;
  text-align: center;
}

.masters-item-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--title-color);
  margin-bottom: 10px;
}

.masters-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--main-color);
  margin-bottom: 16px;
}

.masters-soc-list {
  display: flex;
  justify-content: center;
}

.masters-soc-item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}
.masters-soc-item:last-child {
  margin-right: 0;
}

.masters-soc-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--icon-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.masters-soc-link:hover, .masters-soc-link:focus {
  background-color: var(--accent-color);
  color: var(--second-title-color);
}

.masters-soc-icon {
  fill: currentColor;
}

.button.nav {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button.nav:hover, .button.nav:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.navigation-list .button {
  padding: 6px 22px;
  border-radius: 4px;
}

.navigation-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
@media screen and (max-width: 767px) {
  .navigation-list {
    gap: 15px 8px;
  }
}
@media screen and (min-width: 768px) {
  .navigation-list {
    justify-content: center;
    gap: 8px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .navigation-list {
    margin-bottom: 50px;
  }
}

.link-text {
  padding: 20px 24px;
  border: 1px solid #EEEEEE;
  border-top: none;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.features-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}

.features-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  color: var(--main-color);
}

.features-item {
  width: 100%;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .features-item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .features-item {
    width: calc((100% - 60px) / 3);
  }
}

.features-item .link {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-grow: 1;
}
.features-item .link:hover, .features-item .link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.features-top-wrap {
  position: relative;
  overflow: hidden;
}

.features-top-text {
  position: absolute;
  top: 0;
  padding: 63px 24px;
  height: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: var(--second-title-color);
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.features-item:hover .features-top-text {
  transform: translateY(0);
}
.features-wrap:focus .features-top-text {
  transform: translateY(0);
}

.link-text {
  flex-grow: 1;
}

.clients-title {
  text-align: center;
  margin-bottom: 30px;
  color: var(--title-color);
  font-size: 28px;
  line-height: 1.17;
}
@media screen and (min-width: 1200px) {
  .clients-title {
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
  }
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
@media screen and (min-width: 1200px) {
  .clients-list {
    justify-content: center;
    text-align: center;
  }
}

.clients-item {
  width: 100%;
  width: calc((100% - 30px) / 2);
  height: 92px;
}
@media screen and (min-width: 768px) {
  .clients-item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients-item {
    width: calc((100% - 150px) / 6);
  }
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: var(--icon-color);
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-link:hover, .clients-link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.clients-icon {
  fill: currentColor;
}

.footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .footer .container {
    align-items: unset;
  }
}
@media screen and (min-width: 1200px) {
  .footer .container {
    flex-direction: row;
    align-items: baseline;
  }
}

@media screen and (min-width: 768px) {
  .tablet {
    display: flex;
    align-items: baseline;
  }
}

.online {
  text-align: center;
  margin: 0 auto;
}
@media screen and (min-width: 1200px) {
  .online {
    align-items: flex-start;
    text-align: unset;
  }
}

.footer-address {
  margin-top: 20px;
}

.footer {
  background-color: var(--third-bgc);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}
@media screen and (min-width: 1200px) {
  .footer-list {
    align-items: flex-start;
  }
}

.footer-logo {
  color: var(--accent-color);
}

.logo-accent {
  color: var(--second-title-color);
}

.footer-item {
  font-style: normal;
}
.footer-item:not(:last-child) {
  margin-bottom: 8px;
}
@media screen and (min-width: 1200px) {
  .footer-item:not(:last-child) {
    margin-bottom: 9px;
  }
}

.footer-text {
  margin-bottom: 8px;
  font-weight: 400;
  line-height: 1.71;
  color: var(--second-title-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-text:hover, .footer-text:focus {
  color: var(--accent-color);
}
@media screen and (min-width: 1200px) {
  .footer-text {
    margin-bottom: 9px;
  }
}

.footer-link {
  font-weight: 400;
  margin-bottom: 9px;
  line-height: 1.71;
  color: var(--main-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-link:hover, .footer-link:focus {
  color: var(--accent-color);
}

.footer-title {
  margin-top: 60px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--second-title-color);
}
@media screen and (min-width: 768px) {
  .footer-title {
    margin-top: 0;
  }
}

.join-list {
  display: flex;
}

.footer-join {
  text-align: center;
  margin: 0 auto;
}
@media screen and (min-width: 1200px) {
  .footer-join {
    margin-left: 70px;
    align-items: flex-start;
  }
}

.footer-title {
  margin-bottom: 20px;
}

.join-item {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  margin-right: 10px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.join-item:last-child {
  margin-right: 0;
}
.join-item:hover, .join-item:focus {
  background-color: var(--accent-color);
}

.footer-soc-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  color: var(--second-title-color);
  border-radius: 50%;
  width: 44px;
  height: 44px;
}
.footer-soc-link:focus {
  background-color: var(--accent-color);
}

.footer-soc-icon {
  fill: currentColor;
}

.footer-form-title {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--second-title-color);
}
@media screen and (min-width: 1200px) {
  .footer-form-title {
    margin-top: 0;
  }
}

@media screen and (min-width: 768px) {
  .footer-form {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .footer-form {
    flex-direction: unset;
  }
}

.footer-input {
  margin-bottom: 20px;
  width: 300px;
  height: 50px;
  padding-left: 16px;
  color: var(--second-title-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
.footer-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  color: rgba(255, 255, 255, 0.6);
}
.footer-input:focus, .footer-input:hover {
  border-color: var(--accent-color);
  outline: transparent;
}
@media screen and (min-width: 480px) {
  .footer-input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-input {
    margin-right: 12px;
    width: 358px;
    margin-bottom: 0;
  }
}

.footer-subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .footer-subscribe {
    margin-left: 93px;
    align-items: flex-start;
  }
}

.footer-btn {
  display: flex;
  width: 200px;
  height: 50px;
  padding: 10px 28px;
  position: relative;
  margin: 0 auto;
}

.footer-form-icon {
  fill: currentColor;
  position: absolute;
  right: 28px;
  top: 50%;
  transform: translateY(-50%);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms linear, visibility 250ms linear;
}
@media screen and (max-width: 479px) {
  .backdrop {
    overflow-y: scroll;
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
  width: 450px;
  max-height: 609px;
  background-color: var(--second-title-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(2);
}
@media screen and (max-width: 479px) {
  .modal {
    max-width: 450px;
    width: 100%;
    transform: translate(-50%, -40%) scale(1);
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.modal-field {
  margin-bottom: 20px;
}

.modal-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  color: #000000;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.modal-soc-icon {
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-soc-icon:hover, .modal-soc-icon:focus {
  fill: var(--accent-color);
}

.modal-title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--title-color);
}

.input-wrap {
  position: relative;
}

.modal-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus + .modal-icon, .modal-input:hover + .modal-icon {
  fill: var(--accent-color);
}

.modal-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus, .modal-input:hover {
  border-color: var(--accent-color);
}

.modal-label {
  display: block;
  margin-top: 10px;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--main-color);
}

.modal-text {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  outline: transparent;
  transition: border-color border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-text:focus, .modal-text:hover {
  border-color: var(--accent-color);
}
.modal-text::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  color: var(--main-color);
}
@media screen and (min-width: 1200px) {
  .modal-checkbox {
    line-height: 1.71;
    font-size: 14px;
  }
}

.modal-checkbox span {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 7px;
  width: 16px;
  height: 15px;
  border-radius: 2px;
  border: 2px solid var(--title-color);
  outline: transparent;
}
.input-check:checked + .modal-checkbox span {
  background-color: var(--accent-color);
  border: none;
}

.checked-icon {
  cursor: pointer;
  fill: transparent;
}
.input-check:checked + .modal-checkbox .checked-icon {
  fill: var(--second-title-color);
}

.modal-checkbox-link {
  color: var(--accent-color);
}

.modal-btn {
  display: block;
  margin: 0 auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.modal-agreement {
  margin-bottom: 30px;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.mob-menu {
  position: fixed;
  background-color: var(--second-title-color);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-right: 21px;
  padding-left: 40px;
  z-index: 2;
}
.mob-menu .container-mob {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  overflow: auto;
}

.open-mob-menu {
  background-color: transparent;
}
@media screen and (min-width: 768px) {
  .open-mob-menu {
    display: none;
  }
}

.mob-link.current {
  color: var(--accent-color);
}

.close-mob-menu {
  position: absolute;
  right: 25px;
  top: 21px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  color: var(--title-color);
}

.menu-soc-icon {
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-soc-icon:hover, .menu-soc-icon:focus {
  fill: var(--accent-color);
}

.mob-link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--title-color);
}

.mob-menu-item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-menu-tel {
  margin-bottom: 32px;
}

.mob-tel-link {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.mob-menu-mail {
  margin-bottom: 64px;
}

.mob-mail-link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--main-color);
}

.mob-soc-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.mob-soc-item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 10px;
}

.mob-menu-soc {
  display: flex;
  gap: 10px;
}
@media screen and (max-width: 479px) {
  .mob-menu-soc {
    flex-wrap: wrap;
  }
}/*# sourceMappingURL=main.css.map */