.about {
  @media screen and (min-width: 1200px) {
    padding-bottom: 0;
  }
}

.pic-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.pic-list__pre-title {
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 10px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-color);
  @media screen and (min-width: 768px) {
    text-align: left;
  }

  @media  screen and (min-width: 768px) {
    h3.pic-list__pre-title {
      text-align: left;
  }
  }
}
.pic-list__text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--main-color);
}

.pic-list__item {
  width: 100%;
  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);
  }
  @media screen and (min-width: 1200px) {
    width: calc((100% - 90px) / 4);
  }
}

.pic-list__icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background-color: var(--secondary-bgc);
  border-radius: 4px;
  margin-bottom: 30px;
}
