.features-list {
    display:flex;
    flex-wrap: wrap;
    margin-top: 0px;
    margin-bottom: 0;
}

.features-title {
    margin-bottom: 4px;
font-weight: 700;
font-size: 18px;
line-height: 2.00;
letter-spacing: 0.06em;
color: var(--title-color);
}

.features-text {
    font-weight: 400;
font-size: 16px;
line-height: 1.88;
color: var(--main-color);
}

.features-item {
    margin-right: 30px;
    margin-bottom: 30px;
    width: 370px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:nth-child(3n) {
        margin-right: 0;
    }
    
    &:nth-last-child(-n+3) {
        margin-bottom: 0;
    }
}


.features-item .link {
    display: block;
    &:hover,
&:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
}

.features-top-wrap {
    position: relative;
    overflow: hidden;
}

.features-top-text {
    position:absolute;
    top: 0;

padding: 63px 24px;
height: 100%;
font-weight: 400;
font-size: 18px;
line-height: 1.56;

color: var(--second-title-color);
background-color: rgba(33, 150, 243, 0.9);
transform: translateY(100%);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
.features-item:hover & {
    transform: translateY(0);
}
.features-wrap:focus & {
    transform: translateY(0);
}
}


.features-wrap {
    display: block;
}