
.hero {
    background-color: var(--third-bgc);
    text-align: center;
    padding: 200px 0;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)), 
    url(../images/bg-image.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1600px;
    height: 600px;
    margin: 0 auto;
}

.hero-title {
margin: 0 auto;
margin-bottom: 30px;
font-weight: 900;
width:696px;
max-width: 700px;
font-size: 44px;
line-height: 1.36;
letter-spacing: 0.06em;
text-transform: uppercase;
text-align: center;
color: var(--second-title-color);
}

.hero-btn {
    padding: 10px 32px;
    border-radius: 4px;
    min-width: 200px;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    border: none;
    letter-spacing: 0.06em;
color: var(--second-title-color);
background-color: var(--accent-color);
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) ,color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
&:hover,
&:focus {
    color: var(--second-title-color);
    background-color: #188CE8;
}
}