.button {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
    background-color: var(--secondary-bgc);
    &:hover,
    &:focus {
        color: var(--second-title-color);
        background-color: var(--accent-color);
    }
    }
    button {
        cursor: pointer;
        border: none;
    }