:root {
    --title-color: #212121;
    --main-color:#757575;
    --accent-color: #2196F3;
    --second-title-color: #FFFFFF;
    --background-color: #E5E5E5;
    --secondary-bgc: #F5F4FA;
    --third-bgc: #2F303A;
    --icon-color: #AFB1B8;
}